Main XML Assignment/products.dtd

<!ELEMENT productShop (products)>
<!ELEMENT products (productDetails*)>
<!ELEMENT productDetails (productId,  productName, quantity, pricePerUnit, pricePerDozen, inStock)>
<!ELEMENT productId (#PCDATA)>
<!ELEMENT productName (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT pricePerUnit (#PCDATA)>
<!ELEMENT pricePerDozen (#PCDATA)>
<!ELEMENT inStock (#PCDATA)>
<!ATTLIST productShop status CDATA #IMPLIED>